<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamerequirements">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <service android:name=".Notification.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Requirements.Requirement_content" />
        <activity
            android:name=".Canyourunit.CanYouRunIt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SaveCofig.SelectConfig"
            android:theme="@style/AppTheme" />
        <activity android:name=".SaveCofig.MainActivityConfig" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:parentActivityName=".TabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TabbedActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".TabbedActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SaveCofig.SaveFirstConfig"
            android:theme="@style/AppTheme" />
        <activity android:name=".Blog.BlogContent"
            android:parentActivityName=".TabbedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".Blog.BlogListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Requirements.FilterActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Utils.YoutubeFullScreenActivity"
            android:screenOrientation="landscape"></activity>
        <receiver android:name=".Notification.NotificationBroadCastReceiver">
            <intent-filter>
                <action android:name="com.gr.notification_cancelled"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>